.main-grid {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #f7f7f7;
    line-height: 1.6;
    @include mobile{
        padding: 1rem;
    }
}

.contenido-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    gap: 2rem;
    padding: 10px;
    background-color: rgb(152, 185, 146);
    line-height: 1.6;
    .img-plato {
        height: auto;
        max-width: 100%;
    }
    @include mobile{
        grid-template-columns: 1fr;
    }
}

.contenido-video {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    align-items: center;
    line-height: 1.6;
    background-color: rgb(152, 185, 146);
    .texto-video {
        font-size: 1rem;
    }
    .contenido-video iframe {
        white-space: 100%;
        max-width: 560px;
        height: 315px;
        border-radius: 10px;
    }
    @include mobile{
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

.alimentacion-eq {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: start;
    gap: 2rem;
    padding: 3rem;
    background-color: rgb(152, 185, 146);
    line-height: 1.6;
    border-radius: 1rem;
    margin: 2rem;
    .img-alimentacion {
        max-width: 100%;
        height: auto;
    }
    .texto-alimentacion{
        max-width: 800px;
        height: auto;
        padding: 2rem;
        margin-top: 1rem;
        gap: 1rem;
        border-radius: 1rem;
        background-color: #E8EEEE;
    }
}

.contenido-dieta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    line-height: 1.6;
    background-color: rgb(152, 185, 146);
    .texto-dieta {
        max-width: 800px;
        text-align: left;
        order: 1;
    }
    .imagen-dieta {
        max-width: 100%;
        height: auto;
        order: 2;
    }
    @include mobile{
        grid-template-columns: 1fr;
        padding: 1rem;
        margin: 1rem;
        .texto-dieta, .imagen-dieta{
            order: unset;
        }
    }
}

.contactar {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    background-color: rgb(152, 185, 146);
    padding: 2rem;
    margin: 2rem;
    border-radius: 2rem;
    text-align: center;
}